/*  SECTIONS  */
html {
background-color: #369;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
  background-color: #369;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


.span_6_of_6 {
	width: 100%;
  border-radius: 5px;
border: 1px solid #ddd;
background-color: white;
}
.span_6_of_6 p, {

margin-right: 5%;
}
.span_6_of_6  img{
float: right;
margin-right: 5px;

}
.span_5_of_6 {
  	width: 83.06%;
    border-radius: 5px;
border: 1px solid #ddd;
background-color: white;
}

.span_4_of_6 {
  	width: 80.13%;
    border-radius: 5px;
border: 1px solid #ddd;
background-color: white;

}

.span_3_of_6 {
  	width: 49.2%;
    background-color: white;
}

.span_2_of_6 {
  	width: 32.26%;
    border-radius: 5px;
border: 1px solid #ddd;
background-color: white;

}

.span_1_of_6 {
  	width: 15.33%;
    border-radius: 5px;
border: 1px solid #ddd;
background-color: white;

}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}
